---
layout: "level"
---
<div id="history" class="container">
    <div class="entry-row">
        <div class="timespan">
            2021-
        </div>
        <div class="ico">
            <div class="entry-dot">
                <img src="/assets/img/charlotte-logo.png" style="width: 80px; height: 60px;"/>
            </div>
            <div class="desc">
                BS Data Science at the University of North Carolina at Charlotte with a major in Data Science.
                I originally started out as an Accounting major and interned at GreerWalker CPAs & Advisors in their
                Auditing department. Taking some programming courses drew my interest towards Data Science.
                I also took an advanced statistics course (Applied Statistics) and excelled in the course. 
                Statistics further piqued my interest in Machine Learning, a field that I self-study in. 
                <br><br>
                I applied my knowledge in the Sports Analytics club, where I served as Vice President before being promoted 
                to President of the club, teaching how to extract sports datasets and develop models for predictive analysis.
                I am also working under <a href="https://coefs.charlotte.edu/brodri17/">Dr. Rodriguez</a>, researching
                machine learning methods to help support the school baseball team.
            </div>
        </div>
    </div>

    </div>
</div>